@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
#checkout_wrap{
	font-family: 'Noto Sans TC', sans-serif;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:97vh;
	width:99vw;
}

#checkout_center{
	background-color:#FCFCFC;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:20px;
	height:400px;
	width:500px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5),
              	0 0 2px rgba(0, 0, 0, 0.5) inset;
}

.input-container{
	height:15px;
	width:250px;
  	padding: 10px;
  	font-size: 16px;
  	border-radius: 4px;
  	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  	border: 1px solid #6C6C6C;
  	margin-bottom:10px;
}

.input-container::placeholder {
	font-weight: normal;
  	font-family: 'Noto Sans TC', sans-serif;
  	font-size: 16px;
}

.input-container:focus {
  	outline: none;
  	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.btn {
  	display: inline-block;
  	padding: 10px 20px;
  	font-size: 16px;
  	border: 1px solid #ccc;
  	background-color: #f9f9f9;
  	border-radius: 4px;
  	text-decoration: none;
  	color: #333;
  	cursor: pointer;
  	margin-top:20px;
}

.btn:hover {
  	background-color: #eaeaea;
}

#restaurant_name:read-only {
  	background-color: lightgray;
  	cursor: not-allowed;
}


